services:
  service_api:
    container_name: "chc_service_api"
    build: 
      context: ./service-api
      dockerfile: ./Dockerfile
      args:
        -  AUTH_KEY=2a93f8a5-cf41-466f-adf0-d83981e53e6a
    ports:
      - 8082:8082
    volumes:
      - ./../appsettings.json:/app/appsettings.json
    restart: always
    networks:
      - chc_net

  web_ui:
    container_name: "chc_web_ui"
    build: 
      dockerfile: ./Dockerfile
      context: ./web-ui
      args:
        - AUTH_KEY=2a93f8a5-cf41-466f-adf0-d83981e53e6a
        - API_URL=http://localhost:8082
    ports:
      - 8081:3000
    restart: always
    networks:
      - chc_net

networks:
  chc_net: